<article class="word">
  <img
    [src]="word?.photo"
    class="word__photo"
    alt="Photo of {{ word?.newWord }}"
  />
  <div>
    <section class="word__details">
      <h2 class="word__newWord">{{ word?.newWord }}</h2>
      <p class="word__translation">{{ word?.translation }}</p>

      <h2 class="word__exaple-title">Misol gap</h2>
      <p class="word__example">{{ word?.example }}</p>
    </section>

    <section class="leave-comment">
      <h2>Komentariya qoldirish</h2>

      <form class="form" [formGroup]="form">
        <label class="form__fio" for="name">FIO</label> <br />
        <input
          class="form__name-input"
          type="text"
          id="name"
          name="name"
          formControlName="name"
        />
        <br />

        <label class="form__coment" for="coment">Comentariya</label> <br />
        <input
          class="form__coment-input"
          type="text"
          id="coment"
          name="coment"
          formControlName="comment"
        />
        <br />

        <button class="form__btn" (click)="send()" type="submit">
          Yuborish
        </button>
      </form>
    </section>
  </div>
</article>
